.Home {
  padding: 10px;
  text-align: center;
}

.title {
  color: black;
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive;
  font-size: 3em;
  font-weight: 400;
  margin-top: 50px;
}

img {
  max-width: 100%;
  margin-left: auto;
}

.vitser {
  position: relative;
  background-color: #ffffff;
  border-radius: 60px;
  width: 50%;
  padding: 20px 50px;
  margin: auto;
  font-size: 30px;
}


#nyVits {
  background-color: greenyellow;
}

input[type='name'] {
  padding: 5px 10px;
}

#Input {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
}

button[type='giVits'] {
  background-color: cadetblue;
  padding: 5px 10px;
}

body {
  background-color: #f7f7f7;
}

p[name] {
  text-decoration: solid;
}