header {
  display: inline-block;
  float: right;
  padding: 5px;
}

header a {
  background-color: cadetblue;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

header a:hover {
  background-color: cornflowerblue;
}

footer {
  font-size: 10px;
  background-color: burlywood;
  padding: 5px;
  margin: 20px;
}
